@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	position:relative;
	max-width: 1250px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
	padding-top: 26px;
	padding-bottom: 26px;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#footerSmall {
	display: inline;
}

#footerLarge {
	display: none;
}

#footer a:focus {
	color: #ff6600;
}

/* ====================== Navigation ====================== */
header {
	width: 100%;
}

nav {
  width: 100%;
  height: 80px;
	line-height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  display: inline-block;
	vertical-align: middle;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav h1 a:focus {
	outline:none;
	color: #ff6600;
}

#breadcrumb {
    padding: 10px 0px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
		position: relative;
		left: 40px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map-container {
	width: 100%;
}

#map {
	position: fixed;
  height: 400px;
  width: 100%;
  background-color: #ccc;
	tabindex: -1;
}

/* ====================== Restaurant Filtering ====================== */
#options-container {
	width: 100%;
	background-color: #3397DB;
}

.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
	text-align: center;
	height: auto;
}

.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
	padding-top: 1rem;
	margin-bottom: .2rem;
	letter-spacing: .20rem;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-options select:focus {
	outline: none;
	border-radius: 5px;
	border: 3px solid #ff6600;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
	display: flex;
	flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin-bottom: 1rem;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #444444;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #005e8e;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:focus {
	outline: none;
	border-radius: 5px;
	border: 3px solid #ff6600;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
}

.inside #map-container {
  height: 400px;
  width: 100%;
	margin: auto;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #444444;
  font-family: Arial,sans-serif;
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
	padding-top: 2rem;
	text-align: center;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 1.25rem;
	padding-left: 3%;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}

#reviews-container {
	border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
	height: auto;
}

#reviews-container h2 {
  color: #444444;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-top: 1.5rem;
	padding-left: 3%;
}

#reviews-list {
	width: 100%;
	margin-left: -40px;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  overflow: hidden;
}
#reviews-list li p {
	padding-left: 3%;
	padding-right: 3%;
}

#restaurant-hours td {
  color: #666;
	padding-left: 3%;
}

/* Media Queries
*
**/
@media screen and (min-width: 768px) {
	#footerSmall {
		display: none;
	}

	#footerLarge {
		display: block;
	}

	#restaurants-list li {
		width: 37%;
		margin-top: 1rem;
		margin-left: auto;
		margin-right: auto;
	}

	.inside #map-container {
	  width: 50%;
		height: 900px;
	}

	#restaurant-container {
	  width: 50%;
	}

	#reviews-container {
		width:50%;
	}

@media screen and (min-width: 992px) {
	nav {
	  width: 100%;
	  height: 80px;
		line-height: 80px;
	  background-color: #252831;
	  text-align:left;
	}

	nav h1 {
	  padding-left: 2%;
	}

	#map-container {
		width: 60%;
	}

	#options-container {
		width: 40%;
		height: 400px;
		background-color: #007dbb;
	}

	.filter-options {
		padding-top: 25%;
		align-items: center;
		margin: auto;
		height: 400px;
		background-color: #007dbb;
	}

	.filter-options select {
	  width: 50%;
	}

	#restaurants-list li {
		width: 25%;
		margin-top: 1rem;
		margin-left: auto;
		margin-right: auto;
	}
}
