@charset "utf-8";
/* CSS document
*/

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
}

.inside #map-container {
  height: 400px;
  width: 100%;
	margin: auto;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #444444;
  font-family: Arial,sans-serif;
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
	padding-top: 2rem;
	text-align: center;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 1.25rem;
	padding-left: 3%;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}

#reviews-container {
	border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
	height: auto;
}

#reviews-container h2 {
  color: #444444;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-top: 1.5rem;
	padding-left: 3%;
}

#reviews-list {
	width: 100%;
	margin-left: -40px;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  overflow: hidden;
}

#reviews-list li p {
	padding-left: 3%;
	padding-right: 3%;
}

#restaurant-hours td {
  color: #666;
	padding-left: 3%;
}
